body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  float: left;
  padding: 5px;
}
 
/*
 * Center the body content
 */
  
.container {
  width: 100%;
  margin: 0 auto;
}
 
div.jumbo {
  padding: 5px 0 5px 0;
  background-color: #eeeeee;
  border-radius: 10px;

}
 
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

/* 
 *center the table
 */
.centered-table {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}


th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	text-align: left;
}

td {
	text-align: right;
	font-family: Verdana;
	color: #646464;
}

/* 
 * align the temp and cond heading to the right
 */
.header {
	text-align: right;
}


